  /* GLOBAL STYLES - All the less specific styles are here html{background:red;}*/
  a {
    color: #df42f4;
  }

  h2 {
    font-size: 30px;
  {

  /* BIO STYLES - All styles related to the biographies are included here html{background:red;}*/
  div .bio-box {
    border: 1px solid #0f0;
    font-size: 150%;
  }

  .bio-box {
    border: 10px solid #000;
    width: 50%;
    margin: 10%;
    font-size: 150%;
  }

  .bio-copy a {
    color: #0f0;
  } 

  .bio-wrapper {
  {

  /* SOCIAL STYLES - Intended to change the color of the social network links html{background:red;}*/
  .social-link {
    background: rbga(150, 150, 150, 0.2);
    color: #00f;
  }
