  /* GLOBAL STYLES - All the less specific styles are here html{background:red;}*/
  a {
    color: #f00;
  }

  h2 {
    font-size: 30px;
  }
 
  html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }

  h1 {
    font-size: 2em;
    margin-top: 0;
  }
	  
  /* HERO STYLES */
  .full-hero {
    background-color: #c7dbfc;
    height: 30vw;
    width: 30vw;
  }

  .full-hero li {
    display: inline;
  }

  /* BIO STYLES - All styles related to the biographies are included here html{background:red;}*/
  div .bio-box {
    border: 1px solid #0f0;
  }

  .bio-box {
    border: 10px solid #000;
    width: 25%;
    font-size: 1em;
    padding: 2%;
    float: left;
    border-sizing: border-box;
  }

  .bio-box h3 {
    font-size: 1.5em;
  }

  .bio-copy {
    font-size: 1em;
  }

  .bio-copy a {
    color: #0f0;
  } 

  .bio-wrapper {
    font-size: 24px;
    overflow: hidden;
  }

  .bio-wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  /* SOCIAL STYLES - Intended to change the color of the social network links html{background:red;}*/
  .social-link {
    background: rbga(150, 150, 150, 0.5);
    color: #00f;
    display: inline-block;
    height: 36px;
    width: 36px;
  }

  .social-list {
    list-style: none;
    padding: 0;
  }

  .social-list > li {
    display: inline:block;
  }

  .show {
    display: block;
  }
 
  /* TEST BOXES - Just that, text boxes */
  .test-box {
    width: 200px;
  }

  .test-box-sizing {
    width: auto;
    top-margin: 100px;
  }
