  
  a {
    color: red;
  }

  div {
    border: 1px solid black;
  }

  div a {
    color: green;
  }

  #exec-bio {
    background-color: lightgray;
  }

  .bio-box {
    border: 1px solid black;
  }

  .bio-box a {
    color: green;
  }

  #alone {
    background-color: orange;
  }

  .forever {
    background-color: azure;
  }
  
    li {
    border: 1px solid black;
  }

    li a {
    color: midnightblue;
  }
